NEXT_PUBLIC_ENV_MODE="staging" #production, or staging
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_REALTIME_URL="" # For WebSocket connections - typically same as SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/api"
NEXT_PUBLIC_URL="http://localhost:9990"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
KORTIX_ADMIN_API_KEY=""
EDGE_CONFIG="https://edge-config.vercel.com/REDACTED?token=REDACTED"

# Novu Notification Configuration
NEXT_PUBLIC_NOVU_APPLICATION_IDENTIFIER=""
NOVU_SECRET_KEY=""
NOVU_BACKEND_URL="https://api.novu.co"