# Add your environment variables here
# BROWSERBASE_API_KEY=your_api_key_here
# BROWSERBASE_PROJECT_ID=your_project_id_here
# Add your LLM key
# OPENAI_API_KEY=your_api_key_here
# ANTHROPIC=your_api_key_here
# GOOGLE_API_KEY=your_api_key_here
