#This env is for linking a locally running supabase instance to the docker container that is running the seperate supabase instance to this folder

#This was is you have a separate locally running supabase container group you can use supabase CLI from this folder to run migrations and other commands

# backend/supabase/.env
DB_URL=postgresql://postgres:your-super-secret-and-long-postgres-password@localhost:5434/postgres